html, body {
  margin: 0;
  overflow: hidden;
}

#scrollContainer {
  display: flex;
  width: 400vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#scrollContainer::-webkit-scrollbar {
  display: none;
}
#scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#navButtons {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#navButtons button {
  margin: 0 5px;
  padding: 10px;
}
